*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    text-transform: capitalize;
}

header{
    width: 100%;
    height: 65px;
    background-color: #123;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    position: fixed;
    z-index: 1000;
}

.logo img{
    width: 120px;
    margin-top: 8px;
}

.search_box{
    width: 35%;
    height: 45px;
    background-color: #1a2e42;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    cursor: text;
}

.search_box p,
.search_box i{
    color: #ffffff75;
    font-size: 16px;
}
.search_box p{
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fav_log i{
    color: #ffffffd8;
    font-size: 23px;
    margin-right: 12px;
    transition: 0.2s ease;
}
.fav_log i:hover{
    color: #ffffff94;
}
.fav_log button{
    background-color: #5400ff;
    border-radius: 20px;
    transition: 0.5s ease;
    padding: 10px 15px;
    border: none;
    font-size: 20px;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
.fav_log button:hover{
    background-color: #5500ffa9;
}

.sec1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./image/wallpaperflare.com_wallpaper (2).jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main-page{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-txts{
    margin-left: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.txt1{
    color: #ffffffbf;
    font-size: 16px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}
.txt2{
    color: white;
    font-size: 52px;
    margin: 10px 0 50px 0;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
}
.main-link{
    background-color: #5400ff;
    border-radius: 10px;
    transition: transform 0.3s ease;
    padding: 15px 25px;
    border: none;
    font-size: 18px;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
.main-link:hover {
    transform: scale(1.05);
}

.social-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 35px;
    gap: 10px;
}
.social-links img{
    width: 50px;
    cursor: pointer;
    transition: all .5s ease;
}
.social-links img:hover{
    transform: rotate(315deg) scale(1.3);
}
.social-links img:nth-child(7){
    margin-top: 10px;
}
.social-links hr{
    transform: rotate(90deg);
    width: 25px;
    border: 1px solid white;
}

/* .games-sec {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./image/wallpaperflare.com_wallpaper (2).jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: background-image 0.5s ease;
    transition: filter 0.5s ease;
    padding-bottom: 1500px;
} */
.games-sec {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.background-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./image/wallpaperflare.com_wallpaper (2).jpg");
    background-position: center;
    background-size: cover;
    transition: filter 0.5s ease;
}
.brightness-adjust .background-image {
    filter: brightness(0.5);
}

.game-sec-grid{
    width: 100%;
    margin-top: 75px;
}
.game-imgs-grid{
    width: calc(100% - (60px + 2%));
    display: grid;
    grid-template-areas:
    "item1 item1 item2 item3 item6 item6"
    "item1 item1 item4 item5 item6 item6";
    align-items: center;
    gap: 10px;
    margin-left: calc(60px + 1%);
    position: relative;
}
.game-imgs-grid div{
    height: 100%;
}
.new-game{
    transition: .5s ease;
    position: relative;
}
.new-game::before{
    content: "New";
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10%, -50%);
    color: white;
    background-color: #aa8ee7;
    padding: 8px 12px;
    border-radius: 15px;
    font-size: 22px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    transition: .5s ease;
    z-index: 9;
}
.new-game:hover::before{
    content: "Try Now";
    z-index: 10;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
}
.game-sec{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}
.sec-name-more{
    margin-left: calc(60px + 1%);
    display: flex;
    align-items: center;
    gap: 10px;
}
.game-sec-txt{
    font-size: 22px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
}
.btn-more{
    color: #a679ff;
    font-size: 16px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    transition: .2s ease;
}
.btn-more:hover{
    color: #8e56ff;
}
.game-imgs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-left: 60px;
    margin-top: 15px;
}
.game-imgs div{
    position: relative;
    width: 15.8%;
    height: 140px;
    z-index: 1;
}
.game-imgs div::before{
    content: "";
    color: white;
    transition: .2s ease;
    z-index: 1; 
}
.game-imgs div:hover::before{
    content: "Game";
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
}
.game-sec-img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
    transition: filter .3s ease;
    z-index: 1;
}
.game-sec-img:hover{
    outline: 3px solid #ccb3ff;
}
.game-imgs div:hover .game-sec-img,
.game-imgs-grid div:hover .game-sec-img{
    filter: brightness(0.8);
}

footer{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./image/wallpaperflare.com_wallpaper (2).jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 35px 0;
    padding: 10px 0 15px 0;
}
footer p{
    font-size: 22px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
}
footer p span{
    color: #b18aff;
    font-size: 24px;
}
footer div{
    display: flex;
    align-items: center;
    gap: 10px;
}
footer div img{
    width: 50px;
    cursor: pointer;
}
.hr5{
    border: 2px solid white;
    width: 35%;
    height: 0;
    border-radius: 2px;
    margin: 10px 0;
}